{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}


{#<!DOCTYPE html>#}

{#<html lang="en">#}
{% block head %}
    {% include "head_v2.html" %}
{% endblock %}
{% block content %}


    {#<body>#}
    <div>
        <div class="home-container">
            <div class="home-nav"></div>
            {% include "header.html" %}
            <img
                    alt="image"
                    src="https://scontent.fmxp4-1.fna.fbcdn.net/v/t39.30808-6/305016507_106639992187254_1048962118405627037_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=Mckipg88mpUAX8yEz8z&_nc_oc=AQmbSB3jyawuZREo0khvVoT73d7fqVyq_hgCnUkt91tIaLIXO-CUSL0rLewrnMXj-cI&tn=DN4JnZYt7zb7uekF&_nc_ht=scontent.fmxp4-1.fna&oh=00_AT9ewBRq--A6WlTWWP5-9PR50PVELom9NxwKO3gTRqVJjQ&oe=631A2F9A"
                    class="home-image2"
            />
            <div class="home-features">
                <h1 class="home-text">
                    <span>Explore our favorite shows</span>
                    <br/>
                </h1>
                <span class="home-text03">
            “We are all like fireworks: We climb, we shine and always go our
            separate ways and become further apart. But even when that time
            comes, let’s not disappear like a firework and continue to shine…
            forever.” — Hitsugaya Toshiro (Bleach)
          </span>
            </div>
            <div class="home-hero">
                <img
                        alt="image"
                        src="https://scontent.fmxp4-1.fna.fbcdn.net/v/t39.30808-6/304926782_106639955520591_349923379671205380_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=aqriW_zg9mAAX-yamiE&tn=DN4JnZYt7zb7uekF&_nc_ht=scontent.fmxp4-1.fna&oh=00_AT_kaJp8GHakAGGoZctc6HwJ37mm0ePQDbdzBQBBMXqZCQ&oe=63191F4B"
                        class="home-image3"
                />
                <div class="home-container2">
                    <h1 class="home-text04">JUJUTSU KAISEN</h1>
                    <span class="home-text05">
              Itadori Yūji è uno studente all&apos;apparenza normale, che di
              normale non ha nulla, che frequenta il Club dell&apos;Occulto. I
              suoi compagni si troveranno nei guai dopo aver trovato il dito
              mummificato di Ryomen Sukuna, la più feroce divinità demoniaca, e
              per salvarli così da diventare più forte sarà costretto a
              ingoiarlo. Yūji diventa tutt&apos;uno con il demone e sotto la
              guida del più potente degli stregoni, Satoru Gojō, entra
              nell&apos;Istituto di Arti Occulte di Tokyo,
              un&apos;organizzazione che combatte le Maledizioni; il suo destino
              è già scritto: dovrà cercare tutte le 20 dita di Sukuna, ingerirle
              per poi essere ucciso, così da porre fine una volta per tutte alla
              minaccia che alberga dentro di lui.
            </span>
                    <div class="home-btn-group1">
                        <button class="home-button button">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="home-hero1">

                <div class="home-container3">

                    <h1 class="home-text06">Hunter X Hunter</h1>
                    <span class="home-text07">

              Nuovo adattamento dell&apos;omonimo manga di Yoshihiro Togashi,
              Hunter x Hunter racconta la storia di Gon, un ragazzo dalle mille
              risorse deciso a diventare Cacciatore per seguire le orme paterne
              e poter, allo stesso tempo, comprendere meglio il genitore che lo
              ha abbandonato ancora in fasce. Partito per la prova d&apos;esame
              da cacciatore, a bordo di una nave Gon fa subito la conoscenza di
              altri due aspiranti Cacciatori, Leorio e Kurapika, mentre incontra
              il gioviale Killua e lo spietato Hisoka nelle primissime prove di
              un esame apparentemente infinito...
            </span>

                    <div class="home-btn-group2">

                        <button class="home-button1 button">Learn More</button>
                    </div>

                </div>
                <img
                        alt="image"
                        src="https://scontent.fmxp4-1.fna.fbcdn.net/v/t39.30808-6/305478685_106639995520587_6666241227013967560_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=OBvCPfE46wgAX9HaQAX&_nc_ht=scontent.fmxp4-1.fna&oh=00_AT9kRMXo0pgGH_AK5RtQN4OVV7M7NxSljzpD3zcCvuJzeg&oe=6319D309"
                        class="home-image4"
                />
            </div>
            <div class="home-hero2">
                <img
                        alt="image"
                        src="https://scontent.fmxp4-1.fna.fbcdn.net/v/t39.30808-6/305214671_106639982187255_91232457664579281_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=WFie9xrNbPMAX_kDT7U&_nc_ht=scontent.fmxp4-1.fna&oh=00_AT_qpezGVN_mFn8cRZyvAHIMi4PZbqTdl_NhxUNTKRH1sQ&oe=631A454E"
                        class="home-image5"
                />
                <div class="home-container4">
                    <h1 class="home-text08">HAIKYU!! </h1>
                    <span class="home-text09">
              Dopo aver assistito a una partita di pallavolo, il giovane Shouyou
              Hinata si pone come personale obbiettivo di diventare &quot;Il
              piccolo Gigante&quot; di quello sport. Entrato nel club di
              pallavolo della sua scuola media, affronta insieme alla squadra il
              torneo interscolastico ma lui e i suoi compagni devono inchinarsi
              di fronte a una forte squadra guidata da un formidabile giocatore
              di nome Tobio Kageyama. Desideroso di arrivare ai vertici e di
              prendersi la rivincita su Kageyama, Shouyou continua a praticare
              la pallavolo anche alla sua entrata nel club scolastico alle
              superiori dove però trova proprio il suo rivale.
            </span>
                    <div class="home-btn-group3">
                        <button class="home-button2 button">Learn More</button>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>

    <script
            data-section-id="header"
            src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    {#</body>#}
{% endblock %}
{#</html>#}
